body {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-style: normal;
  font-family: "PTSans", "Myriad Pro", sans-serif;
}
.main-navigation a {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.filters h2 {
  font-size: 24px;
  line-height: 30px;
}

html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 70px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
}

/*Страница каталога*/

.catalog-head-name {
  float: left;
  width: 940px;
  margin-bottom: 55px;
  min-height: 75px;
}
.filters {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.items {
  float: right;
  width: 700px;
  margin-bottom: 45px;
}
.item {
  float: left;
  width: 220px;
  min-height: 286px;
  margin-bottom:20px;
  margin-right: 20px;
}
.item:nth-child(3n) {
  margin-right: 0px;
}
.paginator {
  margin-left: 240px;
  width:220px;
  min-height: 45px;
  margin-bottom:50px;
}
/*Разметка barbershop-item*/

.catalog-item-head {
  float: left;
  margin-bottom: 55px;
  width: 940px;
  min-height: 75px;
}
.photo-items {
  width: 460px;
  min-height: 670px;
  margin-bottom: 50px;
  float: left;
  margin-right: 90px;
  }
.catalog-item-info {
  float: right;
  width: 390px;
  margin-bottom: 65px;
}
